html {  height: 100%; }

html { font-size: 100%; } /* This means 16px by default or is adjusted by the user in their browser*/

.row.equal-height {
  display: flex;
  flex-wrap: wrap;
}
.row.equal-height > [class*='col-'] {
  display: flex;
  // flex-direction: column;
}

.card {
  flex: 1;
}

.text-md-accent {
    color: var(--md-theme-default-primary-on-background, #448aff)
}

// Prevent fixed fabs sticking to the bottom
.md-app-container {
    transform: none !important;
    -webkit-transform: none !important; 
}

.not-active {
  pointer-events: none;
  cursor: default;
}

.text-center {
    text-align: center !important;
}
